<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><img class="" src="/HLogo.png" style="height: 30px; width: 30px; display: inline-block;" >&nbsp Hashchat-Tag</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a href="/login" class="nav-link">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Login </a>
          </li>
      </ul>
     
    </div>
  </nav>
  
  
  
  
  
  
  
  
  
  
  
  
  
  



  <div class="container-fluid col-md-12" style="color:white; background: url('/hhashweb.jpg');height:975px; font-size: 12px; ">
    <div class="container">
    <div class="col-md-6 float-right" style="border-radius: 10px; margin-top: 200px; background-color: rgba(0,0,0,.2);padding: 50px;">
       <h1 class="text-center" style="font-family: Arial;">Sign Up</h1>
      
      
       
       <form action="/signup" method="post">
        <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
          <div class="col-md-6">
            <div class="col-md text-center" style="background-color: #3f5998; color:#fff; font-size: 16px; padding: 10px; ">
              <a style="color: #fff;" href="/auth/facebook">
                <i style="color: #fff;" class="fa fa-facebook"></i> Join With Facebook
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md text-center" style="background-color: #ff2c3d; color:#fff; font-size: 16px; padding: 10px;">
              <a style="color: #fff;" href="/auth/google">
                <i style="color: #fff;" class="fa fa-google"></i> Join With Google
              </a>
            </div>
          </div>

      </div>
       
              <div class="form-group">
                  <label for="email">Username</label>
                  <input type="text" id="username" class="form-control" name="username">
              </div>
              
              <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input type="text" id="email" class="form-control" name="email">
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" class="form-control" name="password">
              </div>
              
              <input type="submit" class="btn btn-primary" value="Register" style="border-radius: 0px; width: 100%; margin-top: 20px;" />
            
         
        
      </form>
    </div>  
   </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>