.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.main{
    background: url('/hashweb.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

body{
    margin:0;
}

.form-control{
    background-color:transparent !important;
    border: none;
    border-bottom: 2px solid rgb(30, 30, 255);
    

}
input:focus{
    outline: none !important;
    border:none !important;
}


.btn-facebook{
    text-align: center !important;
    background-color: #4aa1f3;
    border-radius: 10px;
    color: #fff;

}